.filiere{
    height: 40px;
    width: 450px;
    border: blue solid 1px;
    margin-left: 80px;
}
.matiere{
    height: 40px;
    border: blue solid 1px;
    width:450px;
    margin-left: 72px;
    
}
.capsule{
    height: 30px;
    border: blue solid 1px;
    width:450px;
    margin-left: 20px;
}