<form #capsuleForm="ngForm" (ngSubmit)="save(capsuleForm)">
  <div>
    <label> Nom du capsule</label>
    <input class="capsule" type="text" name="capsule" [(ngModel)]="fetchedData.capsule"  placeholder="" required>
</div>
<div >
    <label for="field">FILIERE
        <select class="filiere" [(ngModel)]="fetchedData.filiere" name="filiere" required>
          <option value=""></option>
            <option value="Mathemmatique">Techniques de management</option>
            <option value="Mathemmatique">Génie électrique</option>
            <option value="Mathemmatique">Génie des procédés</option>
            <option value="Mathemmatique"> Techniques de commercialisation et de communication</option>
           <option value="Mathemmatique"> Génie urbain et environnement</option>
             <option value="Mathemmatique"> Techniques instrumentales</option>
           <option value="Mathemmatique">Génie mécanique et productique</option>
            <option value="Mathemmatique"> Informatique</option>
               <option value="Mathemmatique"> Gestion logistique et transport</option>
                <option value="Mathemmatique">Génie informatique</option>
                <option value="Mathemmatique">Génie biotechnologique</option>
                <option value="Mathemmatique">Organisation et gestion des entreprises</option>
                <option value="Mathemmatique">Techniques comptables</option>
               <option value="Mathemmatique">Maintenance industrielle</option>
               <option value="Mathemmatique"> Génie bio-industriel</option>
              <option value="Mathemmatique"> Statistique et informatique industrielle</option>
                 <option value="Mathemmatique"> Maitrise de l’énergie et énergies renouvelables</option>
                  <option value="Mathemmatique"> Gestion des ressources humaines</option>
                <option value="Mathemmatique"> Animation et gestion touristique</option>
                <option value="Mathemmatique"> Métiers du web</option>
                 <option value="Mathemmatique">Réseaux et télécoms</option>
                <option value="Mathemmatique"> Agroalimentaire et génie biologique</option>
        </select>
    </label>
    <div>
    <label> MATIERE</label>
    <input class="matiere" [(ngModel)]="fetchedData.matiere" type="text" name="matiere" ngModel placeholder="entrer le nom de la matiere" required>
</div>
</div>
<button (click)="onNoClick()" class="btn2">Annuler</button>

<button [disabled]="!capsuleForm.valid" type="submit" class="btn1" >valider</button>
</form>