<div class="conception" cdkDropListGroup>
    <h1>Espace de conception</h1>
    <div class="capsule">
    <div class="ajouter">
        <img class="plus" [src]="cheminImage1" />
        <h3>Ajouter une scene</h3>
    </div>
    <div class="ajouter">
        <img class="plus" [src]="cheminImage2"/>
        <h3>Ajouter une scene</h3>
    </div>
    <div class="ajouter">
        <img class="plus" [src]="cheminImage3"/>
        <h3>Ajouter une scene</h3>
    </div>
</div>
<div class="complementaire">
    <label for="time">Préciser la durée</label>
    <input type="number" class="time" name="time" placeholder="00" min="0" max="30"> min

    <input type="number" class="time" name="time" placeholder="00" min="0" max="59"> sec

    <label for="story">Ajouter votre script</label>

    <textarea id="story" name="story"
              rows="5" cols="60">
    </textarea>
    <button type="button" name="play" class="btn1" ></button>
</div>
</div>


<div class="side-volet">
    <div class="layout">
            <h5>Choisissez votre disposition</h5>
            <div class="dispo">
            <img class="disposition" id="dispo1" [src]="disposition1" cdkDrag/><div class="glisser" >se positionner avec un script à gauche</div>
            <img class="disposition" id="dispo2" [src]="disposition2" cdkDrag/><div class="glisser">se positionner avec un script à droite</div>
           <img class="disposition" id="dispo3" [src]="disposition3" cdkDrag/><div class="glisser">se positionner au milieu des scripts</div>
           <img class="disposition" id="dispo4" [src]="disposition4" cdkDrag/><div class="glisser">sans script</div>
        </div>
    </div>
    
</div>\