<div class="conception" cdkDropListGroup>
    <h1>Espace de conception</h1>
    <div class="capsule">
    <div class="ajouter">
        <a (click)=" openDialog()"><img class="plus" [src]="cheminImage1" /></a>
        <h3>Ajouter une scene</h3>
    </div>
    <div class="ajouter">
        <a (click)=" openDialog()"> <img class="plus" [src]="cheminImage2"/></a>
        <h3>Ajouter une scene</h3>
    </div>
    <div class="ajouter">
        <a (click)=" openDialog()"><img class="plus" [src]="cheminImage3"/></a>
        <h3>Ajouter une scene</h3>
    </div>
</div>

</div>


