<div class="conception" cdkDropListGroup>
    <h1>Espace de conception</h1>
    <div class="capsule">
        <div class="ajouter1">
            <h3>Scene 1
            </h3>
            
            <div class="button">
                <button type="submit" class="btn1"><fa-icon [icon]="faTrash"></fa-icon></button>
                <button type="submit" class="btn2"><fa-icon [icon]="faPencil"></fa-icon></button>
            </div>
        </div>
    <div class="ajouter">
        <a (click)=" openDialog()"><img class="plus" [src]="cheminImage1" /></a>
        <h3>Ajouter une scene</h3>
    </div>
    
</div>

</div>


