.plus{
    width: 130px;
    height:130px;
    margin-left:30px;
    margin-top:22px;
}
.ajouter{
    width:200px;
    height:200px;
    border:black dashed 2px;
    background-color: rgb(255, 251, 251);
    margin-left:50px;
    margin-top: 120px;
    
}
h3{
    font-size:18px;
    text-align: center;
    text-decoration: none;
    color: rgb(43, 54, 102);
}
app-footer{
    width: 100%;
    text-align: center;
    left:0;
    position: fixed;
    bottom: 0px;
    background-image: linear-gradient(to right,#0e3288, #0454ad);
    color: white;
    padding: 10px;
}